<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wzw.springBootKnowledgEextension.dao.PeopleMapper">
    <select id="findAll" resultType="user">
        select * from t_person
    </select>
    <delete id="deletePeople" parameterType="int">
        delete from t_person where id=#{id}
    </delete>
    <update id="updatePeople" parameterType="user">
        update t_person set name=#{user.name} where id = #{user.id}
    </update>
    <insert id="addPeople" parameterType="user" useGeneratedKeys="true" keyProperty="id">
        insert into t_person(name) values (#{user.name})
    </insert>
</mapper>